<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= form_tag posts_path, method: :get do %>
  Content:
  <%= text_field_tag :content, params[:content] %>
  <%= submit_tag :search %>
<% end %>
<!--index 액션으로 내용 보냄-->
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image.url(:thumb) %></td>
        <td><%= link_to post.user.name, post.user %></td>
        <td><%= link_to 'Show', post %></td>
        <% if can? :manage, post %>
        <!-- = <#% if post.user == current_user %>-->
        <!--post 앞에 @가 안 붙은이유는 여러 포스트를 받아오기 때문-->
        <!-- 또는 -> if user_signed_in? && post.user.id == current_user.id-->
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
